<h2>Available Currencies</h2>

<div>
  <label>Name:
    <input #currencyName />
  </label>

  <label>Symbol:
    <input #currencySymbol />
  </label>

  <button (click)="add(currencyName.value, currencySymbol.value); currencyName.value=''; currencySymbol.value='';">
    add
  </button>
</div>

<ul class="currencies">
  <li *ngFor="let currency of currencies">
    <a routerLink="/detail/{{currency.id}}">
      <span class="badge">{{currency.symbol}}</span> {{currency.name}}
    </a>

    <button class="delete" title="delete currency"
    (click)="delete(currency)">x</button>
  </li>
</ul>