<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SC | saczuac </title>
  <base href="/">
  {% load static %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'smart-currencyer-client/dist/assets/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">
</head>
<body>
  	<app-root></app-root>
	<script type="text/javascript" src="{% static 'smart-currencyer-client/dist/inline.bundle.js'%}"></script>
	<script type="text/javascript" src="{% static 'smart-currencyer-client/dist/polyfills.bundle.js'%}"></script>
	<script type="text/javascript" src="{% static 'smart-currencyer-client/dist/scripts.bundle.js'%}"></script>
	<script type="text/javascript" src="{% static 'smart-currencyer-client/dist/styles.bundle.js'%}"></script>
	<script type="text/javascript" src="{% static 'smart-currencyer-client/dist/vendor.bundle.js'%}"></script>
	<script type="text/javascript" src="{% static 'smart-currencyer-client/dist/main.bundle.js'%}"></script>
</body>
</html>