<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">
    <img src="/assets/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    {{title}}
  </a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <ng-container *ngIf="loginService.isAuthenticated()">
      	<li *ngFor="let link of links" class="nav-item" 
      		[class.active]="link === selectedLink" 
      		(click)="onSelect(link)"
      	>
          	<a class="nav-link" routerLink={{link.url}}>{{link.name}}</a>
      	</li>
      </ng-container>

      <li class="nav-item">
        <a *ngIf="loginService.isAuthenticated(); else login"  class="nav-link" routerLink="login">
          Logout
        </a>

        <ng-template #login>
          <a class="nav-link" routerLink="login">
            Login
          </a>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>