@font-face {
    font-family: "DINNextRoundedLTW01-Regular";
    src: url("../fonts/DIN.eot"); /* IE9*/
    src: url("../fonts/DIN.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/DIN.woff2") format("woff2"), /* chrome firefox */
    url("../fonts/DIN.woff") format("woff"), /* chrome firefox */
    url("../fonts/DIN.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../fonts/DIN.svg#DINNextRoundedLTW01-Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "DINNextRoundedLTW01-Bold";
    src: url("../fonts/DIN-bold.eot"); /* IE9*/
    src: url("../fonts/DIN-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/DIN-bold.woff2") format("woff2"), /* chrome firefox */
    url("../fonts/DIN-bold.woff") format("woff"), /* chrome firefox */
    url("../fonts/DIN-bold.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../fonts/DIN-bold.svg#DINNextRoundedLTW01-Bold") format("svg"); /* iOS 4.1- */
}

*, html {
    font-family: "DINNextRoundedLTW01-Regular" !important;
    letter-spacing: 0.04em;
}

#header {
    background: white;
    color: #9ACA3C;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #9ACA3C;
}

.module h2, .module caption, .inline-group h2 {
    background: #9ACA3C;
    color: white;
}

div.breadcrumbs {
    background: #9ACA3C;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: white;
    text-align: left;
}

#header a:link, #header a:visited {
    color: #414042;
}

hr {
    color: #DDDDDD;
    background-color: #DDDDDD;
    padding: 1em;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #9ACA3C;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #9ACA3C;
}

.login #header h1 a {
    color: #9ACA3C !important;
}